<!-- _layouts/default.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Tal Meidan Interior Design. Operates in the Bay Area, California.">
    <title>{{ page.title }} - Tal Meidan Interior Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/main.css">
</head>
<body class="antialiased" style='font-family: "Quarto A","Quarto B",serif'>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
</body>
</html>